<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071416287437-rcclip80eii0928tf1fjsivejgdh88dc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071416287437-rcclip80eii0928tf1fjsivejgdh88dc</string>
	<key>API_KEY</key>
	<string>AIzaSyCA7t5k7EeZvxF4IeYshn_R-bXkaeCOniQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1071416287437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giovanne.mapdfirebase.Firebase-App</string>
	<key>PROJECT_ID</key>
	<string>mapd711-f2019</string>
	<key>STORAGE_BUCKET</key>
	<string>mapd711-f2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071416287437:ios:09a5fac629fe1808298984</string>
	<key>DATABASE_URL</key>
	<string>https://mapd711-f2019.firebaseio.com</string>
</dict>
</plist>